Wine
Introduction:
This exercise is a adaptation from the UCI Wine dataset. The only pupose is to practice deleting data with pandas.

Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [27]:
import numpy as np

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [5]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       177 non-null    int64
 1   14.23   177 non-null    float64
 2   1.71    177 non-null    float64
 3   2.43    177 non-null    float64
 4   15.6    177 non-null    float64
 5   127     177 non-null    int64
 6   2.8     177 non-null    float64
 7   3.06    177 non-null    float64
 8   .28     177 non-null    float64
 9   2.29    177 non-null    float64
 10  5.64    177 non-null    float64
 11  1.04    177 non-null    float64
 12  3.92    177 non-null    float64
 13  1065    177 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [8]:
del_col = [0,3,6,8,10,12,13]
wine.drop(wine.columns[del_col], axis = 1, inplace = True)

In [9]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   14.23   177 non-null    float64
 1   1.71    177 non-null    float64
 2   15.6    177 non-null    float64
 3   127     177 non-null    int64
 4   3.06    177 non-null    float64
 5   2.29    177 non-null    float64
 6   1.04    177 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 9.8 KB

Step 5. Assign the columns as below:
alcohol
malic_acid
alcalinity_of_ash
magnesium
flavanoids
proanthocyanins
hue

In [10]:
col_names = ["alcohol","malic_acid","alcalinity_of_ash","magnesium","flavanoids","proanthocyanins","hue"]
wine.columns = col_names

In [11]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

Step 6. Set the values of the first 3 rows from alcohol as NaN

In [19]:
wine.iloc[:3,wine.columns.get_loc("alcohol")] = None

In [20]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [21]:
wine.iloc[2:4,wine.columns.get_loc("magnesium")] = None

In [22]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,NaN,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [23]:
wine["alcohol"].fillna(10, inplace =True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_21568\2351486608.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine["alcohol"].fillna(10, inplace =True)

In [25]:
wine.fillna({"magnesium": 100}, inplace =True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

Step 9. Count the number of missing values

In [26]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

Step 10. Create an array of 10 random numbers up until 10

In [30]:
rand_num = np.random.randint(0,11, size =10)
rand_num

array([10,  2,  3,  9,  9,  9,  1,  7,  3, 10])

Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.

In [31]:
for index in rand_num:
    wine.iloc[index] = np.nan

In [35]:
wine.head(11)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Step 12. How many missing values do we have?

In [36]:
wine.isna().sum()

alcohol              6
malic_acid           6
alcalinity_of_ash    6
magnesium            6
flavanoids           6
proanthocyanins      6
hue                  6
dtype: int64

Step 13. Delete the rows that contain missing values

In [38]:
wine.dropna(inplace = True)

In [39]:
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07

Step 14. Print only the non-null values in alcohol

In [41]:
print(wine['alcohol'].dropna())

0      10.00
4      14.20
5      14.39
6      14.06
8      13.86
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 171, dtype: float64

Step 15. Reset the index, so it starts with 0 again

In [42]:
wine.reset_index(drop=True, inplace=True)

In [43]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,14.20,1.76,15.2,112.0,3.39,1.97,1.05
2,14.39,1.87,14.6,96.0,2.52,1.98,1.02
3,14.06,2.15,17.6,121.0,2.51,1.25,1.06
4,13.86,1.35,16.0,98.0,3.15,1.85,1.01

delete the last column

In [44]:
wine.drop(wine.columns[-1], axis=1, inplace=True)

In [ ]:
wine.head