Step 1. Import the necessary libraries

In [1]:
import pandas as pd

Step 2. Create a data dictionary that looks like the DataFrame below
	evolution	hp	name	    pokedex	  type
0	Ivysaur    	45	Bulbasaur	yes	      grass
1	Charmeleon	39	Charmander	no	      fire
2	Wartortle	44	Squirtle	yes	      water
3	Metapod	    45	Caterpie	no	      bug

In [4]:
evo = pd.Series({0:"Ivysaur",
                 1: "Charmeloen",
                 2: "Warterle",
                 3: "Metapod"})
hp = pd.Series({ 0:45,
                 1:39,
                 2:44,
                 3:45})
name = pd.Series({0:"Bulbasaur",
                 1: "Charmander",
                 2: "Squirtle",
                 3: "Caterpie"})
pokedex = pd.Series({0:"yes",
                 1: "no",
                 2: "yes",
                 3: "no"})
type = pd.Series({0:"grass",
                 1: "fire",
                 2: "water",
                 3: "bug"})

Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame({"evolution":evo,"hp":hp,"name":name,"pokedex":pokedex,"type":type})
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeloen  39  Charmander      no   fire
2    Warterle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pd.DataFrame({"name":name,"type":type,"hp":hp,"evolution":evo,"pokedex":pokedex})
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeloen      no
2    Squirtle  water  44    Warterle     yes
3    Caterpie    bug  45     Metapod      no

Step 5. Add another column called place, and insert what you have in mind.

In [7]:
pokemon["place"] = ["nairobi","mombasa","nakuru","kiabu"]
pokemon

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes  nairobi
1  Charmander   fire  39  Charmeloen      no  mombasa
2    Squirtle  water  44    Warterle     yes   nakuru
3    Caterpie    bug  45     Metapod      no    kiabu

Step 6. Present the type of each column

In [12]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

BONUS:display the raws with hp >40

In [18]:
pokemon.loc[ pokemon.hp>40 ,["name","type","hp"]]

        name   type  hp
0  Bulbasaur  grass  45
2   Squirtle  water  44
3   Caterpie    bug  45