Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [40]:
import numpy as np

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.

In [68]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")

In [69]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Step 4. See the first 10 entries

In [70]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [71]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 6. What is the number of columns in the dataset?

In [72]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [73]:
chipo.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

Step 8. How is the dataset indexed?

In [74]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [75]:
chipo.groupby("item_name")["quantity"].sum().sort_values(ascending = False).index[0]

'Chicken Bowl'

Step 10. For the most-ordered item, how many items were ordered?

In [76]:
chipo.groupby("item_name")["quantity"].sum().sort_values(ascending = False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [77]:
chipo.groupby("item_name")["quantity"].sum().sort_values(ascending = False).head(1).values[0]

761

Step 11. What was the most ordered item in the choice_description column?

In [78]:
chipo.groupby("choice_description")["quantity"].sum().sort_values(ascending = False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

Step 12. How many items were orderd in total?

In [79]:
chipo["quantity"].sum()

4972

Step 13. Turn the item price into a float
Step 13.a. Check the item price type

In [80]:
chipo.dtypes.item_price

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [81]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

Step 13.c. Check the item price type

In [82]:
chipo["item_price"].dtypes

dtype('float64')

In [84]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

Step 14. How much was the revenue for the period in the dataset?

In [85]:
chipo["revenue"] = chipo["quantity"]*chipo["item_price"]
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [87]:
total_revenue = chipo["revenue"].sum()
total_revenue

39237.02

Step 15. How many orders were made in the period?

In [90]:
total_order = chipo["order_id"].nunique()
total_order

1834

Step 16. What is the average revenue amount per order?

In [91]:
total_revenue / total_order

21.39423118865867

Step 17. How many different items are sold?

In [93]:
chipo["item_name"].nunique()

50