Step 1. Import the necessary libraries

In [23]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.

In [24]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [29]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 4. How many products cost more than $10.00?

In [53]:
group1 = chipo.query("item_price > 10").groupby("item_name").count()
group1["item_price"].count()

31

Step 5. What is the price of each item?
print a data frame with only two columns item_name and item_price

In [95]:
group2 = chipo.drop_duplicates(subset=["item_name"])

In [97]:
group3 = group2[["item_name","item_price"]]
group3.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

Step 6. Sort by the name of the item

In [98]:
group3.sort_values(by = "item_name").head().reset_index()

   index              item_name  item_price
0    298      6 Pack Soft Drink        6.49
1     39          Barbacoa Bowl       11.75
2     21       Barbacoa Burrito        8.99
3    168  Barbacoa Crispy Tacos       11.75
4   1229    Barbacoa Salad Bowl       11.89

Step 7. What was the quantity of the most expensive item ordered?

In [111]:
max_price = chipo["item_price"].max()
max_price

44.25

In [114]:
chipo[chipo['item_price'] == max_price]['quantity']

3598    15
Name: quantity, dtype: int64

Step 8. How many times was a Veggie Salad Bowl ordered?

In [135]:
chipo.groupby("item_name")["quantity"].sum().filter(["Veggie Salad Bowl"], axis=0)

Veggie Salad Bowl    18
Name: quantity, dtype: int64

In [158]:
soda = chipo[chipo['quantity'] > 1].groupby("item_name")["quantity"].count().filter(["Canned Soda"], axis = 0)
soda

Canned Soda    20
Name: quantity, dtype: int64

Step 9. How many times did someone order more than one Canned Soda?

In [160]:
qnt_abv_1 = chipo[chipo['quantity'] > 1].groupby(['item_name'])['quantity'].count()

In [162]:
soda = qnt_abv_1.filter(["Canned Soda"],axis = 0)
soda

Canned Soda    20
Name: quantity, dtype: int64