Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

Step 2. Create 3 differents Series, each of length 100, as follows:
The first a random number from 1 to 4
The second a random number from 1 to 3
The third a random number from 10,000 to 30,000

In [3]:
s1 = pd.Series(np.random.randint(1, 5, size=100, dtype="int"))
s1

0     2
1     4
2     3
3     4
4     3
     ..
95    4
96    4
97    3
98    4
99    2
Length: 100, dtype: int32

In [4]:
s2 = pd.Series(np.random.randint(1,4,size = 100, dtype = "int"))
s2

0     2
1     2
2     1
3     1
4     2
     ..
95    3
96    2
97    1
98    1
99    2
Length: 100, dtype: int32

In [6]:
s3 = pd.Series(np.random.randint(10000, 30001, size = 100, dtype = "int"))
s3

0     18519
1     12721
2     28262
3     17470
4     23793
      ...
95    12518
96    24346
97    17821
98    18234
99    15845
Length: 100, dtype: int32

Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
df = pd.concat([s1, s2, s3], axis=1)
df.head()

   0  1      2
0  2  2  18519
1  4  2  12721
2  3  1  28262
3  4  1  17470
4  3  2  23793

Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [8]:
df.rename(columns = {0: "bedrs", 1: "bathrs", 2: "price_sqr_meter"}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       2            18519
1      4       2            12721
2      3       1            28262
3      4       1            17470
4      3       2            23793

Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [9]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)

In [11]:
bigcolumn = bigcolumn.to_frame()

In [14]:
print(type(bigcolumn))

<class 'pandas.core.frame.DataFrame'>

Step 6. Oops, it seems it is going only until index 99. Is it true?
false

In [16]:
len(bigcolumn)

300

Step 7. Reindex the DataFrame so it goes from 0 to 299

In [18]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        2
1        4
2        3
3        4
4        3
..     ...
295  12518
296  24346
297  17821
298  18234
299  15845

[300 rows x 1 columns]